
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Riot Collegue Discovery - Mock API Service </title>
    <style>
        body {
            background-color: lightgray;
            font-family: verdana;
            font-size: 14px;
        }

        h1 {
            color: blue;
        }

        p {
            color: green;
        }
    </style>
</head>
<body>
    <h3>Riot Collegue Discovery - Mock API Service</h3>
    <div>
        Community List:  <br /><a href="/api/community/">http://localhost:8080/api/community/</a><br />
        Community By Id: <br /><a href="/api/community/f47c99f2-e893-4b90-81f9-fef239fe69c0">http://localhost:8080/api/community/f47c99f2-e893-4b90-81f9-fef239fe69c0</a><br />
        Item By Location: <br /><a href="/api/community/byLocation/32.716100/-117.168400">http://localhost:8080/api/community/byLocation/32.716100/-117.168400</a><br />
        <br />      
    </div>
</body>
</html>


